extends layout.pug
block scripts 
  script(src="javascripts/dom.js")
block style
  style
    include ../public/stylesheets/style.css
block content
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium distinctio assumenda sint aut repellat sequi vel. Deserunt facere assumenda fugit similique pariatur, delectus est necessitatibus temporibus, reprehenderit nobis hic! Deleniti.